  <button 
    type="button" 
    class="btn btn-link"
    data-toggle="modal" {# le metemos esto por que es un toggle modal#}
    data-target="#nuevaEtiquetaModal"{#este sera la nueva etiquetal modal que vamos a generar#}
    > Crear etiqueta </button>