<div 
class="modal fade"
id="nuevaEtiquetaModal" {#Este es el nombre que le hemos indicado en el boton del formulario#}
role:"dialog" {#permite pasar información a los navegadores acerca de este elemento#}
>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-head">
                <h5>Crear etiquetas</h5>
                <button class="close" type="button" data-dismiss="modal" aria-lable="close" >
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{include('etiqueta/_form.html.twig' , {
                    form:formEtiqueta,
                    ajax:true,
                })}}
            </div>
        </div>
    </div>
</div>